@using System
@model List<DataLayer.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h2> Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id" >Edit</a>
                    <a class="btn btn-primary" asp-controller="RoleManager" asp-action="Manage" asp-route-userId="@item.Id">Manage Roles</a>
                    <a class="btn btn-primary" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-primary" asp-action="Detail" asp-route-id="@item">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>