@model museum_management.Models.ArtworkRoomViewModel

@{
    ViewData["Title"] = "Artworks List";
}

<h2>Artwork Catalog</h2>

<form asp-controller= "Catalog" asp-action="Index" method="get">
    <p>
        <select asp-for="Artworkroom" asp-items="Model.MuseumRoom">
            <option value="">All</option>
        </select>
        @* <input type="submit" value="Filter"/> *@
        @* Title: <input type="text" name="Artworkroom " /> *@
        <input type="submit" value="Filter" /> 
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].EconomicValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].Period)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Artwork[0].ActualMuseum) *@
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.Artworks[0].MuseumRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artworks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EconomicValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.ActualMuseum) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MuseumRoom)
                </td>
                <td>
                    @* <a asp-action="Restaurations" asp-route-id="@item.Artwork.Id">Restauraciones</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>