@model List<DataLayer.Models.User>

@{
    ViewData["Title"] = "Roles Management";
}

<h1>Roles Management</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Role)
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                @* <form method="post">
                <input name="IsChecked" type="checkbox" value="false" />
                <button type="submit">Submit</button>

                 <input name="IsChecked" type="hidden" value="true" /> 
                </form> *@
            </tr>
        }
    </tbody>
</table>