@model List<LendingToMuseum>

@{
    ViewData["Title"] = "Lendings";
} 

<h1>Lendings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Artwork.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Museum.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PeriodInDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LendingState)
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artwork.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Museum.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodInDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendingState)
                </td>
            </tr>
            
        }
    </tbody>
</table>

