@using DataLayer.Models.Auth
@model PresentationLayer.ViewModels.ArtworkRoomViewModel


@{
    ViewData["Title"] = "Artworks List";
}

<h2>Artwork Catalog</h2>

<form asp-controller= "Catalog" asp-action="Index" method="get">
    <p>
        <select asp-for="Artworkroom" asp-items="Model.MuseumRoom">
            <option value="">All</option>
        </select>
        @* <input type="submit" value="Filter"/> *@
        @* Title: <input type="text" name="Artworkroom " /> *@
        <input type="submit" value="Filter" /> 
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].EconomicValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artworks[0].Period)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Artwork[0].ActualMuseum) *@
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.Artworks[0].MuseumRoom)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.LastResaturation)
            </th> *@
            @if(User.IsInRole(UserRoles.Restaurator)) 
            {
                System.Console.WriteLine("Entreee");
                <th>
                    @Html.DisplayName("Last Restauration")
                </th>

                 <th>
                    @Html.DisplayName("Necesary Restauration")
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Artworks.Count; i++)    
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Artworks[i].Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Artworks[i].Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Artworks[i].CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Artworks[i].EconomicValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Artworks[i].EntryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Artworks[i].Period)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.ActualMuseum) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Artworks[i].MuseumRoom)
                </td>
                
                 @if(User.IsInRole(UserRoles.Restaurator)) 
                {   
                     <td>
                        @Html.DisplayFor(modelItem => Model.LastResaturation[i].Date)
                    </td>


                     @if (Model.LastResaturation[i].Day == DateTime.Now.Day
                         && Model.LastResaturation[i].Month == DateTime.Now.Month 
                         && Model.LastResaturation[i].Year == DateTime.Now.Year)
                         {
                            
                            <td>
                                    @Html.DisplayName("True")
                            </td>
                         }
                    else
                        {
                            
                            <td>

                                @Html.DisplayName("False")
                            </td>
                        }


                   
                   
                    @* System.Console.WriteLine(item.EndDate); *@
                   <td>
                       <a asp-action="Restaurations" asp-route-id="@Model.Artworks[i].Id">Restaurar</a>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>