@model List<PresentationLayer.ViewModels.LendingViewModel>

@{
    ViewData["Title"] = "Lendings";
} 

<h1>Lendings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ArtworkTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MuseumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LendingToMuseum.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LendingToMuseum.PeriodInDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LendingToMuseum.LendingState)
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtworkTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MuseumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendingToMuseum.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendingToMuseum.PeriodInDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendingToMuseum.LendingState)
                </td>
            </tr>
            
        }
    </tbody>
</table>

