@model List<PresentationLayer.ViewModels.LendingViewModel>

@{
    ViewData["Title"] = "Lendings";
} 

<h1>Lendings</h1>

<form asp-controller= "Lending" asp-action="Index" method="get">
    <p>
        <select asp-items="@Model[0].State">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter"/> 
      
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ArtworkTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MuseumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LendingToMuseum.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LendingToMuseum.PeriodInDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LendingToMuseum.LendingState)
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtworkTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MuseumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendingToMuseum.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendingToMuseum.PeriodInDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendingToMuseum.LendingState)
                </td>
                <td>
                @if(@item.LendingToMuseum.LendingState == LendingState.Requested)
                   {
                     <a asp-action="Edit" asp-route-artworkId ="@item.ArtworkId" asp-route-museumId ="@item.MuseumId" >Edit</a>
                   } 
                </td>
            </tr>
            
        }
    </tbody>
</table>

