@model List<PresentationLayer.ViewModels.RestaurationViewModel>

@{
    ViewData["Title"] = "Restaurations";
}

<h1>Restaurations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ArtworkTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Restauration.RestaurationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Restauration.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Restauration.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var restauration in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => restauration.ArtworkTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => restauration.Restauration.RestaurationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => restauration.Restauration.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => restauration.Restauration.EndDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Catalog</a>
</div>